body {
  font-family: Arial, sans-serif;
  background-color: #EED9C4;
  background-image: url("images/confetti_bg.png");
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;  
  height: 100vh;                 
  /* padding: 20px; */
}

.title-page-two {
  text-align: center;
  margin-bottom: 40px;
}

.title-page-two h1 {
  font-size: 2.5rem;
  color: #333;
}

.gif-container-page-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.left-gifs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
}

.gif-container-page-two > img {
  order: 2;
}

.right-gifs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: end;
}

@media (max-width: 768px) {
  .title-page-two h1 {
    font-size: 1.8rem;
  }
  
  .gif-container-page-two,
  .left-gifs,
  .right-gifs {
    flex-direction: column;
    align-items: center;
  }
  
  .gif-container-page-two > img {
    order: 0;
  }
}